/* ============================================
   SHOWS & ANIME PAGE - Specific styles for shows section
   ============================================ */

#shows_and_anime-section {
    padding: 40px 20px;
}

#shows_and_anime-section .title_wrapper {
    text-align: center;
    margin-bottom: 40px;
}


#shows_and_anime-section .show-filters {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  align-items: center;
  gap: 10px;
  
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;

  color: white;
}

.filter-btn {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  cursor: pointer;
}

.filter-btn.active {
  text-decoration: underline;
}
